

.movie-intro-container {
    display: flex;
    flex-direction: column;
    background-image: url("movie-banners/TheGodfatherBanner.png");
    /*background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.603) 50%, rgba(0,0,0,0) 100%); */
    background-size: cover;

}

.movie-info-container {
    display: flex;
    flex-direction: row;
    

}

.movie-banner {
    /*background-color: lightgoldenrodyellow;*/
    height: 500px;
    /* background-image: url("movie-banners/TheGodfatherBanner.avif"); */
    background-size: cover;

}

.movie-poster-container {
    /*background-color: lightgreen; */
    width: 15%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.movie-poster {
    height: 100%;
    border-radius: 10px;
    transition: border-style 0.25s ease;


}

/*
.movie-poster:hover {
    border-style: groove;

}
*/
.movie-title-and-description {
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */

    width: 85%;
    height: 300px;
}

.movie-description {
    display: flex;
    /*background-color: lightcoral; */
    height: 260px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family: arial;

}

.movie-title {
    font-size: 36px;
    font-family: arial;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* background-color: black; */
    color: white;
}


