body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;


}

.header-middle {
    font-family: shrikhand;
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 300px;
}

.hook {
    font-size: 48px;
    font-family: shrikhand;

}

.description {
    text-align: center;
    font-family: racing sans one;
    font-size: 20px;
}

.main-search-bar {
    display: flex;
    flex-direction: row;
}